<div class="contextual"> <%= link_to t(:label_edit), edit_license_path(@license) %>
</div>

<%= title [t(:label_license_plural), licenses_path], @license.name %>

<div class=box>
<table class="attributes">
  <tr><th><%= t(:label_name) %></th><td><%= @license.name %></td></tr>
  <tr><th><%= t(:field_keyword) %></th><td><%= @license.keyword %></td></tr>
  <tr><th><%= t(:field_customer_organization) %></th><td><%= @license.customer_organization %></td></tr>
  <tr><th><%= t(:field_project_name) %></th><td><%= @license.project_name %></td></tr>
  <tr><th><%= t(:field_requestor) %></th><td><%= h @license.requestor %></td></tr>
  <tr><th><%= t(:field_hostid) %></th><td><%= @license.hostid %></td></tr>
  <tr><th><%= t(:field_effective_date) %></th><td><%= strf_date @license.effective_date %></td></tr>
  <tr><th><%= t(:field_expire_date) %></th><td><%= strf_date @license.expire_date %></td></tr>
  <tr><th><%= t(:label_product_plural) %></th><td><ul>
  <% @license.products.each do |product| %>
    <li><%=link_to h(product), product_path(product) %></li>
  <% end %>
</ul></td></tr>
  <tr><th><%= t(:field_usage) %></th><td><%= @license.usage %></td></tr>
</table>
</div>

