<%= title [t(:label_user_plural), users_path], t(:label_user_new) %>

<%= labelled_form_for @user do |f| %>
<%= render :partial => 'form', :locals => { :f => f} %>
<p>
  <%= f.submit t(:button_create) %>
  <%= f.submit t(:button_create_and_continue), :name => 'continue' %>
</p>
<% end %>

<%= javascript_tag do %>
  observeAutocompleteField('user_login', '<%= escape_javascript autocomplete_for_new_user_users_path %>', {
    select: function(event, ui) {
      $('input#user_firstname').val(ui.item.firstname);
      $('input#user_lastname').val(ui.item.lastname);
      $('input#user_email').val(ui.item.email);
      $('input#user_source').prop('checked', true);
      $('input#user_source').trigger('change');
    }
  });
<% end %>

