<%= title [t(:label_product_plural), products_path], @product.number%>

<%= labelled_form_for @product do |f| %>
<%= render :partial => 'form', :locals => { :f => f} %>
<p>
  <%= f.submit t(:button_submit) %>
</p>
<% end %>

<% content_for :sidebar do %>
    <div>
      <ul>
        <li><%= link_to t(:label_product_family_new), new_product_family_path %></li>
      </ul>
    </div>
<% end %>
